<!DOCTYPE html>
<html lang="en">
<!-- Licensed to the Apache Software Foundation (ASF) under one
     or more contributor license agreements.  See the NOTICE file
     distributed with this work for additional information
     regarding copyright ownership.  The ASF licenses this file
     to you under the Apache License, Version 2.0 (the
     "License"); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing,
     software distributed under the License is distributed on an
     "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
     specific language governing permissions and limitations
     under the License. -->
  <head></head>
  <body>
    <!-- Change Folder Name Article -->
    <article th:fragment="change-folder-name-article(originalFolderName, newFolderNameRequest)" class="request-article change-folder-name-article" id="change-folder-name-article" style="display: none;">
      <div class="request-article-background change-folder-name-background-div" onclick="changeFolderNameButtonPressed()"></div>
      <form class="request-form change-folder-name-article-form" id="change-folder-name-article-form" th:object="${newFolderNameRequest}">
        <h1 class="request-form-h1 change-folder-name-article-form-h1" th:text="#{lang.element.change-folder-name}"></h1>
        <label hidden="hidden" style="display: none;">
          <input type="text" th:field="*{folderId}" name="folderId" th:value="${newFolderNameRequest.getFolderId()}" hidden="hidden" style="display: none;"/>
        </label>
        <div class="request-form-div change-folder-name-article-form-password-div">
          <label class="request-form-label change-folder-name-article-form-label" for="originalName" th:text="#{lang.element.original-folder-name}"></label>
          <input class="request-form-input change-folder-name-article-form-input" id="originalName" type="text" th:value="${folderName}" readonly/>
        </div>
        <div class="request-form-div change-folder-name-article-form-password-div">
          <label class="request-form-label change-folder-name-article-form-label" for="folderName" th:text="#{lang.element.new-folder-name}"></label>
          <input class="request-form-input change-folder-name-article-form-input" id="folderName" type="text" th:placeholder="#{lang.placeholder.change-folder-name.new-folder-name}" th:field="*{newName}" th:value="${newFolderNameRequest.getNewName()}" required/>
        </div>
        <div class="request-form-div change-folder-name-article-form-password-div">
          <label class="request-form-label change-folder-name-article-form-label" for="password" th:text="#{lang.element.folder-password}"></label>
          <input class="request-form-input change-folder-name-article-form-input" id="password" type="password" th:placeholder="#{lang.placeholder.change-folder-name.password}" th:field="*{password}" th:value="${newFolderNameRequest.getPassword()}" required/>
        </div>
        <div class="request-form-button-div change-folder-name-article-form-button-panel-div">
          <a class="element-simple-button request-form-button change-folder-name-article-form-button" onclick="changeFolderNameButtonPressed()" th:text="#{lang.button.cancel}"></a>
          <button class="element-simple-button request-form-button change-folder-name-article-form-button" type="submit" th:text="#{lang.button.change-folder-name}"></button>
        </div>
      </form>
      <div class="request-form change-folder-name-article-result" id="change-folder-name-article-result">
        <p class="request-form-p change-folder-name-article-result-p" id = "change-folder-name-article-result-message"></p>
        <button class="element-simple-button request-form-button change-folder-name-article-form-button" onclick="changeFolderNameContinueButtonPressed()" th:text="#{lang.button.continue}"></button>
      </div>
      <div class="request-form change-folder-name-article-error" id="change-folder-name-article-error" style="display:none;">
        <div class="request-form-div">
            <p class="request-message-p change-folder-name-article-p" id="change-folder-name-article-error-message"></p>
            <button class="element-simple-button request-form-button change-folder-name-article-error-button" onclick="changeFolderNameErrorButtonPressed()" th:text="#{lang.button.go-back}"></button>    
        </div>
      </div>
      <script type="text/javascript" th:src="@{/js/ChangeFolderNameWithPassword.js}"></script>
    </article>
  </body>
</html>