<!DOCTYPE html>
<html lang="en">
<!-- Licensed to the Apache Software Foundation (ASF) under one
     or more contributor license agreements.  See the NOTICE file
     distributed with this work for additional information
     regarding copyright ownership.  The ASF licenses this file
     to you under the Apache License, Version 2.0 (the
     "License"); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing,
     software distributed under the License is distributed on an
     "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
     specific language governing permissions and limitations
     under the License. -->
  <head></head>
    <body>
    <!-- Request Folder With Password Article-->
    <article th:fragment="request-protected-folder-article(folderRequest, requestAction)" class="request-article request-protected-folder-article" id="request-folder-wp-article" style="display: none;">
      <div class="request-article-background request-protected-folder-background-div" onclick="showRequestProtectedFolderArticle()"></div>
      <form class="request-form request-protected-folder-article-form" th:action="${requestAction}" method="POST" th:object="${folderRequest}" id="request-protected-folder-article-form">
        <h1 class="request-form-h1 request-protected-folder-article-form-h1" th:text="#{lang.element.request-protected-folder}"></h1>
        <div class="request-form-div request-protected-folder-article-form-folder-name-div">
          <p class="request-protected-folder-article-form-folder-name-p" id="request-protected-folder-name"></p>
        </div>
        <label hidden="hidden" style="display: none;">
          <input type="text" th:field="*{folderId}" name="folderId" id="request-protected-folder-id" hidden="hidden" th:value="${folderRequest.getFolderId()}" style="display: none;"/>
        </label>
        <div class="request-form-div request-protected-folder-article-form-password-div">
          <label class="request-form-label request-protected-folder-article-form-label" for="request-protected-folder-article-form-password-input" th:text="#{lang.element.folder-password}"></label>
          <input class="request-form-input request-protected-folder-article-form-input"  type="password" th:placeholder="#{lang.placeholder.request-protected-folder.password}" th:field="*{folderPassword}" id="request-protected-folder-article-form-password-input" th:value="${folderRequest.getFolderPassword()}" required/>
        </div>
        <div class="request-form-button-div request-protected-folder-article-form-button-panel-div">
          <a class="element-simple-button request-form-button request-protected-folder-article-form-button" onclick="showRequestProtectedFolderArticle()" th:text="#{lang.button.cancel}"></a>
          <button class="element-simple-button request-form-button show-file-article-form-button" type="submit" th:text="#{lang.button.request-protected-folder}"></button>
        </div>
      </form>
      <script type="text/javascript" th:src="@{/js/RequestProtectedFolder.js}"></script>
    </article>
  </body>
</html>