<!DOCTYPE html>
<html lang="en">
<!-- Licensed to the Apache Software Foundation (ASF) under one
     or more contributor license agreements.  See the NOTICE file
     distributed with this work for additional information
     regarding copyright ownership.  The ASF licenses this file
     to you under the Apache License, Version 2.0 (the
     "License"); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing,
     software distributed under the License is distributed on an
     "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
     specific language governing permissions and limitations
     under the License. -->
    <head></head>
    <body>
        <!-- Request Desktop Protected Folder Wrong Password Article-->
        <article th:fragment="request-desktop-protected-folder-wrong-password-article" class="request-article request-protected-folder-article show">
            <div class="request-article-background request-protected-folder-background-div" onclick="toDesktopPage()"></div>
            <div class="request-form request-protected-folder-article-form">
                <div class="request-form-div request-protected-folder-message-div">
                    <p class="request-form-p request-protected-folder-message-p" th:text="#{lang.exception.password-does-not-match}"></p>
                    <a class="element-simple-button request-form-button request-protected-folder-message-a" th:href="@{/desktop}" th:text="#{lang.button.continue}"></a>
                </div>
            </div>
            <script>
            function toDesktopPage() {
              window.location.replace("/desktop");
            }
          </script>
        </article>
    </body>
</html>