<!DOCTYPE html>
<html lang="en">
<!-- Licensed to the Apache Software Foundation (ASF) under one
     or more contributor license agreements.  See the NOTICE file
     distributed with this work for additional information
     regarding copyright ownership.  The ASF licenses this file
     to you under the Apache License, Version 2.0 (the
     "License"); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing,
     software distributed under the License is distributed on an
     "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
     specific language governing permissions and limitations
     under the License. -->
  <head></head>
  <body>
    <!-- Hide File Article-->
    <article th:fragment="hide-file-article(fileRequest)" class="request-article hide-file-article" id="hide-file-article" style="display: none;">
      <div class="request-article-background hide-file-background-div" onclick="hideFileButtonPressed()"></div>
      <form class="request-form hide-file-article-form" th:action="@{/file/hide-file}" th:object="${fileRequest}" id="hide-file-article-form">
        <h1 class="request-form-h1 hide-file-article-form-h1" th:text="#{lang.element.hide-file}"></h1>
        <label hidden="hidden" style="display: none;">
          <input type="text" th:field="*{fileId}" name="fileId" th:value="${fileRequest.getFileId()}" hidden="hidden" style="display: none;"/>
          <input type="text" th:field="*{fileName}" name="fileName" th:value="${fileRequest.getFileName()}" hidden="hidden" style="display: none;"/>
          <input type="text" th:field="*{filePassword}" name="fileId" th:value="${fileRequest.getFilePassword()}" hidden="hidden" style="display: none;"/>
        </label>
        <div class="request-form-button-div hide-file-article-form-button-panel-div">
          <a class="element-simple-button request-form-button hide-file-article-form-button" onclick="hideFileButtonPressed()" th:text="#{lang.button.cancel}"></a>
          <button class="element-simple-button request-form-button hide-file-article-form-button" type="submit" th:text="#{lang.button.hide}"></button>
        </div>
      </form>
      <div class="request-form hide-file-article-result" id="hide-file-article-result">
        <p class="request-form-p hide-file-article-result-p" id = "hide-file-article-result-message"></p>
        <button class="element-simple-button request-form-button hide-file-article-form-button" onclick="hideFileContinueButtonPressed()" th:text="#{lang.button.continue}"></button>
      </div>
      <div class="request-form hide-file-article-error" id="hide-file-article-error" style="display:none;">
        <div class="request-form-div">
          <p class="request-message-p hide-file-article-p" id="hide-file-article-error-message"></p>
          <button class="element-simple-button request-form-button hide-file-article-error-button" onclick="hideFileErrorButtonPressed()" th:text="#{lang.button.go-back}"></button>
        </div>
      </div>
      <script type="text/javascript" th:src="@{/js/HideFile.js}"></script>
    </article>
  </body>
</html>