<!DOCTYPE html>
<html lang="en">
<!-- Licensed to the Apache Software Foundation (ASF) under one
     or more contributor license agreements.  See the NOTICE file
     distributed with this work for additional information
     regarding copyright ownership.  The ASF licenses this file
     to you under the Apache License, Version 2.0 (the
     "License"); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing,
     software distributed under the License is distributed on an
     "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
     specific language governing permissions and limitations
     under the License. -->
  <head></head>
  <body>
    <!-- Remove File Password Article -->
    <article th:fragment="remove-file-password-article(removePasswordRequest)" class="request-article remove-file-password-article" id="remove-file-password-article" style="display: none;">
      <div class="request-article-background remove-file-password-background-div" onclick="removeFilePasswordButtonPressed()"></div>
      <form class="request-form remove-file-password-article-form" id="remove-file-password-article-form" th:action="@{/file/set-password}" method="POST" th:object="${removePasswordRequest}">
        <h1 class="request-form-h1 remove-file-password-article-form-h1" th:text="#{lang.element.remove-file-password}"></h1>
        <label hidden="hidden" style="display: none;">
          <input type="text" th:field="*{fileId}" name="fileId" th:value="${removePasswordRequest.getFileId()}" hidden="hidden" style="display: none;"/>
        </label>
        <div class="request-form-div remove-file-password-article-form-password-div">
          <label class="request-form-label remove-file-password-article-form-label" for="password" th:text="#{lang.element.original-file-password}"></label>
          <input class="request-form-input remove-file-password-article-form-input" id="password" type="password" th:placeholder="#{lang.placeholder.remove-file-password.password}" th:field="*{password}" th:value="${removePasswordRequest.getPassword()}" required/>
        </div>
        <div class="request-form-button-div remove-file-password-article-form-button-panel-div">
          <a class="element-simple-button request-form-button remove-file-password-article-form-button" onclick="removeFilePasswordButtonPressed()" th:text="#{lang.button.cancel}"></a>
          <button class="element-simple-button request-form-button remove-file-password-article-form-button" type="submit" th:text="#{lang.button.remove-file-password}"></button>
        </div>
      </form>
      <div class="request-form remove-file-password-article-result" id="remove-file-password-article-result">
        <p class="request-form-p remove-file-password-article-result-p" id = "remove-file-password-article-result-message"></p>
        <button class="element-simple-button request-form-button remove-file-password-article-form-button" onclick="removeFilePasswordContinueButtonPressed()" th:text="#{lang.button.continue}"></button>
      </div>
      <div class="request-form remove-file-password-article-error" id="remove-file-password-article-error" style="display:none;">
        <div class="request-form-div">
          <p class="request-message-p remove-file-password-article-p" id="remove-file-password-article-error-message"></p>
          <button class="element-simple-button request-form-button remove-file-password-article-error-button" onclick="removeFilePasswordErrorButtonPressed()" th:text="#{lang.button.go-back}"></button>
        </div>
      </div>
      <script type="text/javascript" th:src="@{/js/RemoveFilePassword.js}"></script>
    </article>
  </body>
</html>