<!DOCTYPE html>
<html lang="en">
<!-- Licensed to the Apache Software Foundation (ASF) under one
     or more contributor license agreements.  See the NOTICE file
     distributed with this work for additional information
     regarding copyright ownership.  The ASF licenses this file
     to you under the Apache License, Version 2.0 (the
     "License"); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing,
     software distributed under the License is distributed on an
     "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
     specific language governing permissions and limitations
     under the License. -->
  <head></head>
  <body>
    <!-- Set File Password Article -->
    <article th:fragment="set-file-password-article(setPasswordRequest)" class="request-article set-file-password-article" id="set-file-password-article" style="display: none;">
      <div class="request-article-background set-file-password-background-div" onclick="setFilePasswordButtonPressed()"></div>
      <form class="request-form set-file-password-article-form" id="set-file-password-article-form" th:action="@{/file/set-password}" method="POST" th:object="${setPasswordRequest}">
        <h1 class="request-form-h1 set-file-password-article-form-h1" th:text="#{lang.element.set-file-password}"></h1>
        <label hidden="hidden" style="display: none;">
          <input type="text" th:field="*{fileId}" name="fileId" th:value="${setPasswordRequest.getFileId()}" hidden="hidden" style="display: none;"/>
        </label>
        <div class="request-form-div set-file-password-article-form-password-div">
          <label class="request-form-label set-file-password-article-form-label" for="password" th:text="#{lang.element.file-password}"></label>
          <input class="request-form-input set-file-password-article-form-input" id="password" type="password" th:placeholder="#{lang.placeholder.set-file-password.password}" th:field="*{password}" th:value="${setPasswordRequest.getPassword()}" required/>
        </div>
        <div class="request-form-div set-file-password-article-form-password-div">
          <label class="request-form-label set-file-password-article-form-label" for="match-password" th:text="#{lang.element.file-password-again}"></label>
          <input class="request-form-input set-file-password-article-form-input" id="match-password" type="password" th:placeholder="#{lang.placeholder.set-file-password.password-again}" th:field="*{matchPassword}" th:value="${setPasswordRequest.getMatchPassword()}" required/>
        </div>
        <div class="request-form-button-div set-file-password-article-form-button-panel-div">
          <a class="element-simple-button request-form-button set-file-password-article-form-button" onclick="setFilePasswordButtonPressed()" th:text="#{lang.button.cancel}"></a>
          <button class="element-simple-button request-form-button set-file-password-article-form-button" type="submit" th:text="#{lang.button.set-file-password}"></button>
        </div>
      </form>
      <div class="request-form set-file-password-article-result" id="set-file-password-article-result">
        <p class="request-form-p set-file-password-article-result-p" id = "set-file-password-article-result-message"></p>
        <button class="element-simple-button request-form-button set-file-password-article-form-button" onclick="setFilePasswordContinueButtonPressed()" th:text="#{lang.button.continue}"></button>
      </div>
      <div class="request-form set-file-password-article-error" id="set-file-password-article-error" style="display:none;">
        <div class="request-form-div">
          <p class="request-message-p set-file-password-article-p" id="set-file-password-article-error-message"></p>
          <button class="element-simple-button request-form-button set-file-password-article-error-button" onclick="setFilePasswordErrorButtonPressed()" th:text="#{lang.button.go-back}"></button>
        </div>
      </div>
      <script type="text/javascript" th:src="@{/js/SetFilePassword.js}"></script>
    </article>
  </body>
</html>