<!DOCTYPE html>
<html lang="en">
<!-- Licensed to the Apache Software Foundation (ASF) under one
     or more contributor license agreements.  See the NOTICE file
     distributed with this work for additional information
     regarding copyright ownership.  The ASF licenses this file
     to you under the Apache License, Version 2.0 (the
     "License"); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing,
     software distributed under the License is distributed on an
     "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
     specific language governing permissions and limitations
     under the License. -->
  <head></head>
  <body>
    <!-- Show File Article-->
    <article th:fragment="show-file-article(fileRequest)" class="request-article show-file-article" id="show-file-article" style="display: none;">
      <div class="request-article-background show-file-background-div" onclick="showFileButtonPressed()"></div>
      <form class="request-form show-file-article-form" th:action="@{/file/show-file}" th:object="${fileRequest}" id="show-file-article-form">
        <h1 class="request-form-h1 show-file-article-form-h1" th:text="#{lang.element.show-file}"></h1>
        <label hidden="hidden" style="display: none;">
          <input type="text" th:field="*{fileId}" name="fileId" th:value="${fileRequest.getFileId()}" hidden="hidden" style="display: none;"/>
          <input type="text" th:field="*{fileName}" name="fileName" th:value="${fileRequest.getFileName()}" hidden="hidden" style="display: none;"/>
          <input type="text" th:field="*{filePassword}" name="fileId" th:value="${fileRequest.getFilePassword()}" hidden="hidden" style="display: none;"/>
        </label>
        <div class="request-form-button-div show-file-article-form-button-panel-div">
          <a class="element-simple-button request-form-button show-file-article-form-button" onclick="showFileButtonPressed()" th:text="#{lang.button.cancel}"></a>
          <button class="element-simple-button request-form-button show-file-article-form-button" type="submit" th:text="#{lang.button.show}"></button>
        </div>
      </form>
      <div class="request-form show-file-article-result" id="show-file-article-result">
        <p class="request-form-p show-file-article-result-p" id = "show-file-article-result-message"></p>
        <button class="element-simple-button request-form-button show-file-article-form-button" onclick="showFileContinueButtonPressed()" th:text="#{lang.button.continue}"></button>
      </div>
      <div class="request-form show-file-article-error" id="show-file-article-error" style="display:none;">
        <div class="request-form-div">
          <p class="request-message-p show-file-article-p" id="show-file-article-error-message"></p>
          <button class="element-simple-button request-form-button show-file-article-error-button" onclick="changeFolderNameErrorButtonPressed()" th:text="#{lang.button.go-back}"></button>
        </div>
      </div>
      <script type="text/javascript" th:src="@{/js/ShowFile.js}"></script>
    </article>
  </body>
</html>