<!DOCTYPE html>
<html lang="en">
<!-- Licensed to the Apache Software Foundation (ASF) under one
     or more contributor license agreements.  See the NOTICE file
     distributed with this work for additional information
     regarding copyright ownership.  The ASF licenses this file
     to you under the Apache License, Version 2.0 (the
     "License"); you may not use this file except in compliance
     with the License.  You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing,
     software distributed under the License is distributed on an
     "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
     specific language governing permissions and limitations
     under the License. -->
    <head></head>
    <body>
        <!-- Folder Panel Section -->
        <section th:fragment="folder-panel-section(parentFolderIsRoot, parentFolderId, parentFolderHavePassword, folderIsPrivate, folderHavePassword, folderId)" class="panel-section">
            <div class="element-compound-button panel-form">
                <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/user-data-icon.svg'}"/>
                <p class="panel-a-p" th:text="#{lang.element.account}"></p>
                <button class="panel-form-button" onclick="window.location.replace('/account')"></button>
            </div>

            <div class="element-compound-button panel-form">
                <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/group-icon.svg'}"/>
                <p class="panel-a-p" th:text="#{lang.element.public}"></p>
                <button class="panel-form-button" onclick="window.location.replace('/public')"></button>
            </div>
            <div class="element-compound-button panel-form">
                <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/homepage-icon.svg'}"/>
                <p class="panel-a-p" th:text="#{lang.element.desktop}"></p>
                <button class="panel-form-button" onclick="window.location.replace('/desktop')"></button>
            </div>

            <th:block th:if="${parentFolderIsRoot}">
                <div class="element-compound-button panel-form" id="folder-go-back-form">
                    <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/bottom-left-side-turn-arrow-icon.svg'}"/>
                    <p class="panel-a-p" th:text="#{lang.element.go-back}"></p>
                    <button class=" panel-form-button" th:onclick="window.location.replace('/desktop')"></button>
                </div>
            </th:block>

            <th:block th:unless="${parentFolderIsRoot}">

                <th:block th:if="${parentFolderHavePassword}">
                    <div class="element-compound-button panel-form">
                        <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/bottom-left-side-turn-arrow-icon.svg'}"/>
                        <p class="panel-a-p" th:text="#{lang.element.go-back}"></p>
                        <button class=" panel-form-button" th:attr="onclick=|showRequestProtectedFolderArticle('${folderName}', '${parentFolderId}')|" ></button>
                    </div>
                </th:block>


                <th:block th:unless="${parentFolderHavePassword}">
                    <form class="element-compound-button panel-form" th:action="@{/desktop/folder}" method="post" id="folder-go-back-form">
                        <input type="text" name="folderId" th:value="${parentFolderId}" hidden="hidden"/>
                        <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/bottom-left-side-turn-arrow-icon.svg'}"/>
                        <p class="panel-a-p" th:text="#{lang.element.go-back}"></p>
                        <button class=" panel-form-button" type="submit"></button>
                    </form>
                </th:block>

            </th:block>

            <th:block th:unless="${folderHavePassword}">
                <form class="element-compound-button panel-form" id="folder-refresh-form" th:action="@{/desktop/folder}" th:object="${folderRequest}" method="post">
                    <input type="text" name="folderId" th:value="${folderId}" hidden="hidden"/>
                    <input type="text" name="folderPassword" th:value="${''}" th:field="*{folderPassword}" hidden="hidden"/>
                    <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/refresh-icon.svg'}"/>
                    <p class="panel-a-p" th:text="#{lang.element.refresh}"></p>
                    <button class=" panel-form-button" type="submit"></button>
                </form>
            </th:block>

            <button class="element-compound-button panel-button" onclick="changeFolderNameButtonPressed()">
                <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/edit-folder-name.svg'}"/>
                <p class="panel-a-p" th:text="#{lang.element.rename-folder}"></p>
            </button>

            <button class="element-compound-button panel-button" onclick="uploadFileButtonPressed()">
                <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/add-link-icon.svg'}"/>
                <p class="panel-a-p" th:text="#{lang.element.add-file}"></p>
            </button>

            <button class="element-compound-button panel-button" onclick="createFolderButtonPressed()">
                <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/add-folder-icon.svg'}"/>
                <p class="panel-a-p" th:text="#{lang.element.add-folder}"></p>
            </button>

            <button class="element-compound-button panel-button" onclick="deleteFolderButtonPressed()">
                <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/delete-icon.svg'}"/>
                <p class="panel-a-p" th:text="#{lang.element.delete}"></p>
            </button>


            <th:block th:if="${folderIsPrivate}">
                <button class="element-compound-button panel-button" onclick="showFolderButtonPressed()">
                    <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/view-show-all-icon.svg'}"/>
                    <p class="panel-a-p" th:text="#{lang.element.show}"></p>
                </button>
            </th:block>
            <th:block th:unless="${folderIsPrivate}">
                <button class="element-compound-button panel-button" onclick="hideFolderButtonPressed()">
                    <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/hide-show-all-icon.svg'}"/>
                    <p class="panel-a-p" th:text="#{lang.element.hide}"></p>
                </button>
            </th:block>
            <th:block th:if="${folderHavePassword}">
                <button class="element-compound-button panel-button" onclick="removeFolderPasswordButtonPressed()">
                    <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/unlock-icon.svg'}"/>
                    <p class="panel-a-p" th:text="#{lang.element.unlock}"></p>
                </button>
            </th:block>
            <th:block th:unless="${folderHavePassword}">
                <button class="element-compound-button panel-button" onclick="setFolderPasswordButtonPressed()">
                    <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/lock-icon.svg'}"/>
                    <p class="panel-a-p" th:text="#{lang.element.lock}"></p>
                </button>
            </th:block>
            <th:block th:if="${folderHavePassword}">
                <button class="element-compound-button panel-button" onclick="changeFolderPasswordButtonPressed()">
                    <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/edit-password-icon.svg'}"/>
                    <p class="panel-a-p" th:text="#{lang.element.change-password}"></p>
                </button>
            </th:block>

            <button class="element-compound-button panel-button" onclick="viewButtonPressed()">
                <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/list-view-icon.svg'}" id="list-view-img"/>
                <img class="panel-a-img hidde-view" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/gallery-grid-view-icon.svg'}" id="grid-view-img"/>
                <p class="panel-a-p" th:text="#{lang.element.change-view-mode}"></p>
            </button>
            <form class="element-compound-button panel-form panel-end-form" th:action="@{/logout}" method="post">
                <img class="panel-a-img" th:alt="#{lang.element.icon}" th:src="@{'/icons/action/open-door-icon.svg'}"/>
                <p class="panel-a-p" th:text="#{lang.element.logout}"></p>
                <button class=" panel-form-button" type="submit"></button>
            </form>
        </section>
    </body>
</html>